<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopBar</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="topbar">
        <h5 class="my-0 mr-md-auto font-weight-normal">Bill System</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="../pricing.html" th:href="@{/pricing}">Pricing</a>
            <a class="p-2 text-dark" href="../account.html" th:href="@{/account}">Account</a>
            <a class="p-2 text-dark" href="../speedtest.html" th:href="@{/speedtest}">Speedtest</a>
            <a class="p-2 text-dark" href="../orders.html" th:href="@{orders}">Orders</a>
        </nav>

        <a class="text-primary" href="#" th:text="${session.loginUser}"></a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Bill System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:class="${activeUri == 'pricing' ? 'nav-item active' : 'nav-item'}">
                        <a class="nav-link" href="#" th:href="@{/pricing}">Pricing </a>
                    </li>
                    <li class="nav-item" th:class="${activeUri == 'speedtest' ? 'nav-item active' : 'nav-item'}">
                        <a class="nav-link" href="#" th:href="@{/speedtest}">Speedtest <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" th:class="${activeUri == 'clients' ? 'nav-item active' : 'nav-item'}" th:if="${session.loginUser == 'admin'}">
                        <a class="nav-link" href="#" th:href="@{/clients}">Clients </a>
                    </li>
                    <li class="nav-item" th:class="${activeUri == 'orders' ? 'nav-item active' : 'nav-item'}">
                        <a class="nav-link" href="#" th:href="@{/orders}" th:if="${session.loginUser == 'admin'}">Orders </a>
                        <a class="nav-link" href="#" th:href="@{/user/orders}" th:if="${session.loginUser != 'admin'}">Orders </a>
                    </li>
                    <li class="nav-item" th:class="${activeUri == 'users' ? 'nav-item active' : 'nav-item'}" th:if="${session.loginUser == 'admin'}">
                        <a class="nav-link" href="#" th:href="@{/users}">Users </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.loginUser}"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#" th:href="@{/account}">Account</a>
                        <a class="dropdown-item" href="#" th:href="@{/logout}">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </nav>

</body>
</html>