<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bill System | Pricing Page</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.3/examples/navbars/navbar.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="./pricing.css" th:href="@{/css/pricing.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="commons/topbar::#navbar(activeUri='pricing')"></div>

    <form class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" th:action="@{/order}" method="post">
        <input th:value="${session.uid}" name="uid" type="hidden">
        <input th:value="${days}" name = "days" type="hidden">
        <button type="submit">
            <img th:src="@{/images/alipay.jpg}">
        </button>
    </form>

<!--    TODO 调整样式 点击那条居中  -->
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <h3 class="display-5">点击二维码确认提交订单</h3>
        </div>
        <div class="card-deck mb-3 text-center">
            <h3 class="display-5">支付宝拿API太麻烦了所以就简单搞了个收款码，我手动确认后订单生效</h3>
        </div>
        <div th:replace="commons/footer::#footer"></div>
    </div>

</body>
</html>