<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bill System | Pricing Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.3/examples/navbars/navbar.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="./pricing.css" th:href="@{/css/pricing.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="commons/topbar::#navbar(activeUri='pricing')"></div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <!--    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.-->
        <!--        It’s built with default Bootstrap components and utilities with little customization.</p>-->
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Month</h4>
                </div>
                <form class="card-body" th:action="@{/pay}" method="post">
                    <h1 class="card-title pricing-card-title">￥10 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>us line</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <input type="hidden" value="30" name="days">
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Get Started</button>
                </form>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Half Year</h4>
                </div>
                <form class="card-body" th:action="@{/pay}" method="post">
                    <h1 class="card-title pricing-card-title">￥50 <small class="text-muted">/ hy</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <input type="hidden" value="183" name="days">
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Get started</button>
                </form>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Year</h4>
                </div>
                <form class="card-body" th:action="@{/pay}" method="post">
                    <h1 class="card-title pricing-card-title">￥90 <small class="text-muted">/ yr</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <input type="hidden" value="366" name="days">
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Get started</button>
                </form>
            </div>
        </div>

        <div th:replace="commons/footer::#footer"></div>
    </div>

</body>
</html>