<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.larryzeta.manager.mapper.TPlanInfoMapper">
  <resultMap id="BaseResultMap" type="cc.larryzeta.manager.entity.TPlanInfo">
    <!--@mbg.generated -->
    <!--@Table t_plan_info -->
    <!-- generated on Tue Mar 01 14:25:15 CST 2022 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_period" jdbcType="DECIMAL" property="planPeriod" />
    <result column="plan_price" jdbcType="DECIMAL" property="planPrice" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated -->
    id, plan_name, plan_period, plan_price, `status`, create_time, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select 
    <include refid="Base_Column_List" />
    from t_plan_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated -->
    delete from t_plan_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cc.larryzeta.manager.entity.TPlanInfo" useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into t_plan_info (plan_name, plan_period, plan_price, 
      `status`, create_time, update_time, 
      remark)
    values (#{planName,jdbcType=VARCHAR}, #{planPeriod,jdbcType=DECIMAL}, #{planPrice,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cc.larryzeta.manager.entity.TPlanInfo" useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into t_plan_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planPeriod != null">
        plan_period,
      </if>
      <if test="planPrice != null">
        plan_price,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planPeriod != null">
        #{planPeriod,jdbcType=DECIMAL},
      </if>
      <if test="planPrice != null">
        #{planPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.larryzeta.manager.entity.TPlanInfo">
    <!--@mbg.generated -->
    update t_plan_info
    <set>
      <if test="planName != null">
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planPeriod != null">
        plan_period = #{planPeriod,jdbcType=DECIMAL},
      </if>
      <if test="planPrice != null">
        plan_price = #{planPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.larryzeta.manager.entity.TPlanInfo">
    <!--@mbg.generated -->
    update t_plan_info
    set plan_name = #{planName,jdbcType=VARCHAR},
      plan_period = #{planPeriod,jdbcType=DECIMAL},
      plan_price = #{planPrice,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>